<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/setting">设置</a></li>
                <li><a ng-click="vm.analyze()">查看账单</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/">用户 {{vm.user.username}}, 您好!</a></li>
                <li><a href="#/" ng-click="vm.logout()">退出</a></li>
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</nav>`
<!-- /.navbar -->
<div class="row">
    <div ng-repeat ="room in vm.RoomState.rooms" class="col-md-6 col-sm-6 col-xs-6">
        <div class="alert alert-info">
            <hr />
            <div>
            <i class="fa fa-warning fa-4x"></i>
                <p>
                    房间号：　{{ room.roomId }}
                </p>
            <p>
            	当前温度： {{room.curTemp}}
            </p>
            <p>
            	目标温度 : {{room.aimTemp}}
            </p>
            <p>
               当前风速 ： {{room.curSpeed}}
            </p>
                <p> 当前状态：{{room.curState}}</p>
            </div>

            <hr />
        </div>
    </div>
</div>


